.content{
    background-color: #E3DFDF
    
}

.titre_search_addvideo{
	background-color: red;
}

.menu{
	background-color: #A70909;
}
.search{
	text-align: center;
}

.menu li{
		
		display: inline;
}

.menu{
	margin: -17px;
	margin-right: 0px;
	margin-left: 0px;
}

.categories{
	display: flex;
	justify-content: space-around;
	color: white;
}

.formulaire_content{
	background-color: #F2F2F2;
}

h1{
	text-align: center;
	background-color: grey;
	font-size: 50px;
	text-decoration: underline;
	text-decoration-color: red;

}


#sous_cadre{
	background-color: red;
}
style{
	color: red;
}

.le_formulaire{
	display: flex;
	flex-direction: row;
	width: 50px;
	;
	
}

.deux, .trois, .quatre{
	margin-top: 25px;
}
.formulaire{
	margin-left: 50px;
	width: 90px;
	height: 50px;

}

.video{
	margin-left: 300px;
	
}

iframe{
	width: 600px;
	height: 300px;

}

.video1, .video2, .video3, .video4, .video5{
	width: 350px;
	height: 250px;
	margin: 5px;
	padding: 5px;
}

#conteneur{
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	margin-top: 250px;
	margin: 25px
}

.cinq{
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	margin-top: 250px;
	margin: 25px;
}

.ajout, .annuler{
	width: 100px;
	height: 50px;
	font-size: 26px;
	background-color: #DB1B1B;
}

